.ground {
  background-size: 100% 100%;
}

html {
  height: 100%;
}

* {
  margin: 0;
  padding: 0;
}

.time {
  display: flex;
  flex-direction: row;
}
.eye{
  position: absolute;
  top: 167px;
  right: 125px;
}

.text {
  background-color: blue;
  color: #ffffff;
  height: 33px;
  width: 120px;
}

.bac {
  position: fixed;
  top: 0;
  width: 100%;
  background-size: cover;
  height: 100vh;
}

.textBox {
  background-color: #ffffff;
  position: relative;
  width: 500px;
  height: 300px;
  top: 180px;
  left: 470px;
  border-radius: 10%;
  border: solid black 3px;
  opacity: 0.93;
}

.textBoxa {
  background-color: #ffffff;
  position: relative;
  width: 488px;
  height: 470px;
  top: 115px;
  left: 470px;
  border-radius: 10%;
  border: solid black 3px;
  opacity: 0.93;
}

.loan {
  padding-top: 25px;
  font-size: 30px;
  font-weight: bolder;
  text-align: center;
  color: mediumblue;
}

.name {
  padding: 34px 120px;
}

.key {
  padding: 0 120px;
}

.email {
  padding: 40px 120px;
}

.time {
  padding: 0px  107px 0px 120px;
}

.send {
  width: 100px;
  height: 40px;
  background-color: mediumblue;
  color: #ffffff;
  position: absolute;
  top: 240px;
  left: 110px;
}

.firstLogon {
  width: 100px;
  height: 40px;
  background-color: mediumblue;
  color: #ffffff;
  position: absolute;
  top: 240px;
  left: 290px;
}

.logon {
  width: 100px;
  height: 40px;
  background-color: mediumblue;
  color: #ffffff;
  position: absolute;
  top: 382px;
  left: 190px;
}

#userName {
  padding-left: 10px;
  outline: none;
}

#userPassword {
  padding-left: 10px;
  outline: none;
}

#userNamea, #userPassworda, #userEmail, #useTime {
  padding-left: 10px;
  outline: none;
}

a {
  font-size: 15px;
  text-decoration: none;
  position: absolute;
  bottom: 8px;
  right: 197px;
}
